{% extends "base.html" %}

{% block content %}
    <div class="header">
        <img src="{{ url_for('static', filename='beauty-icon.png') }}" alt="Ícone Salão de Beleza" class="icon">
        <h1>Agenda de Beleza</h1>
    </div>

    <div class="daily-summary">
        <h2>Resumo do Dia</h2>
        {% if appointments %}
            <ul>
                {% for appointment in appointments %}
                    <li>
                        <strong>{{ appointment[5] }}</strong> - {{ appointment[1] }} ({{ appointment[2] }})
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Nenhum agendamento para hoje.</p>
        {% endif %}
    </div>
{% endblock %}
